@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --bgColor: #009986;
  ;
  --lightBgColor: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --fontFamily: "Encode Sans Expanded", sans-serif;
  --ratingColor: #ffc908;
}

body {
  font-family: var(--fontFamily);
}
.rating-color {
  color: var(--ratingColor);
}

.cursor-pointer {
  cursor: pointer;
}
.product:hover {
  box-shadow: var(--shadow) !important;
  border: 1px solid var(--bgColor) !important;
  border-radius: 7px;
}
.product .btn {
  opacity: 0 !important;
  transition: transform 0.5s, opacity 0.5s !important;
  transform: translateY(100%) !important;
}
.product:hover .btn {
  opacity: 1 !important;
  transform: translateY(0%) !important;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.text-main {
  color: var(--bgColor);
}
.font-sm {
  font-size: 14px;
}
.bg-main {
  background-color: var(--bgColor) !important;
}
.bg-main-light {
  background-color: var(--lightBgColor) !important;
}
.border{
  cursor: pointer;
  border-radius: 15px;
  border: 2px;
}
.padding-left{
  margin-left: 8rem;

}
.bgGray{
  background-color: #cdcdcd;
}
.marginn{
  margin-left: 25%;
}
.heightt{
  height: 3rem;
}
.logo{
  width: 40%;
  margin-left: 1.5%;
}

.btn-outline{
  border: solid 2px var(--bgColor);
  border-radius: 6px;
}
.btn-outline:hover{
  background-color: var(--bgColor);
  color: white;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: #009986;
  width: 1%;
}

@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}


.logo:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}

.offlineMlsg{
  background-color: var(--bgColor);
  font-weight: 600;
  border: 1px solid var(--bgColor);
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow: var(--shadow);
  z-index: 99999;
  padding:7px 24px;
}